@import "/styles/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

.overlay{
    backdrop-filter: blur(30px);
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #ECF3FB;
    margin: auto;
    color: black;
    position: relative;
    width: 100%;
    background-color: #ECF3FB;
}

.header{
    font-family: 'Inter', sans-serif;
    background-color: white;
    height: 65px; width: 100%;
    margin: auto;
    color: black;
}

.container{
    max-width: 83.4%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}

.center-body{
    font-family: 'Inter', sans-serif;
    background-color: red;
    height: 80%;
    color: black;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.main-logo-text{
    letter-spacing: 0.5px;
    font-weight: 550;
}

.header-nav{
    display: flex;
    width: 650px;
    align-items: flex-start;
}

.header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.5px;
    gap: 65px;;
}

.header-list a{
    color: black;
    font-weight: 400;
    
}

.header-logos-nav{
    position: absolute;
    display: flex;
    gap: 13px;
    right: 405px;
    cursor: pointer;
}

.main-switch-language{
    position: absolute;
    right: 316px;
    height: 50px; width: 50px;
    text-align: center;
    align-items: center;
    top: 20px;
    cursor: pointer;
}

.main-logIn{
    color:white;
    background-color: #1749B3;
    height: 45px; width: 145px;
    border-radius: 15px;
    font-weight: 800;
}

.first-section{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%; height: 665px;
}

.container-forst-main-section{
    position: relative;
    width: 83.4%; height: 100%;
}

.main-big-blok1::selection {
  color: white;
  background-color: blue;
}

.invite-friends-section h6::selection {
  color: white;
  background-color: blue;
}

.invite-friends-section .main-text-inv::selection {
  color: white;
  background-color: blue;
}

.container-two-blocks{
    display: flex;
    justify-content: space-between;
    width: 100%; height: 81%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.main-big-blok1{
    background-color: #1749B3;
    height: 100%; width: 49.4%;
    border-radius: 43px;
}

.main-big-blok2{
    background-color: #FFFFFF;
    height: 100%; width: 49.4%;
    border-radius: 43px;
    position: relative;
}

.first-block-texts{
    position: absolute;
    width: 475px; height: 53%;
    top: 51%;
    left: 300px;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.first-block-texts h2{
    position: absolute;
    top: -5px;
    margin: 0; padding: 0;
    text-align: left;
    color: white;
    font-size: 43px;
    line-height: 1.15;
    letter-spacing: 0.6px;
    font-weight: 550;
}

.first-block-texts p{
    text-indent: 0;
    position: absolute;
    top: 125px;
    color: white;
    line-height: 1.5;
    letter-spacing: 0.6px;
    font-weight: 350;
    text-align: left;
}

.main-startUse{
    background-color: white;
    color: black;
    position: absolute;
    height: 60px; width: 225px;
    border-radius: 20px;
    bottom: 0px; left: 1px;
    font-size: 20px;
    font-weight: 550;
}

/* Блюр + затемнение фона */
.overlay.active {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 998;
    pointer-events: none; /* важный момент — не блокировать прокрутку */
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    height: 800px; width: 580px;
    max-width: 90%;
}

.modal.active {
    display: block;
}

.modal-content {
    position: relative;
    top: 13px; left: 12px;
    height: 94.5%; width: 95.7%;
}

.close-btn {
    position: absolute;
    background-color: #1717171A;
    top: 0px; right: 14px;
    height: 41px; width: 41px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    align-items: center;
    opacity: 70%;
}

.modal h2 {
  font-size: 34px;
  font-weight: 1000;
}

.modal p {
  margin-top: 21px;
  margin-bottom: 31px;
  font-size: 18px;
}

.modal a {
  color: #1a4dd7;
  text-decoration: none;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 15px;
  letter-spacing: 1.2px;
}

.pass{
    margin-top: 33px;
}

input[type="email"],
input[type="password"],
input[type="user-name"],
input[type="text"]{
  padding: 14px;
  border-radius: 12px;
  background-color: #F1F4F8;
  border: none;
  height: 59px;
  font-size: 18px;
}

/* Password wrapper */
.password-wrapper {
  position: relative;
  background-color: #F1F4F8;
  border-radius: 12px;
}

.eye-icon{
    margin-top: 20px;
    height: 59px; width: 35px;
}

.password-wrapper .eye-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  opacity: 0.6;
}

/* Actions */
.bottom-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.forgot,
.forgot:link,
.forgot:visited,
.forgot:hover,
.forgot:active {
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin-left: 3px;
    letter-spacing: 0.9px;
    font-weight: 500;
}

button[type="submit"] {
  margin-right: 3px;
  background-color: #2a4ddf;
  color: white;
  height: 58px; width: 203px;
  border: none;
  border-radius: 12px;
  padding: 12px 30px;
  font-size: 18px;
  letter-spacing: 0.9px;
  font-weight: bold;
  cursor: pointer;
}

/* Divider */
.divider {
  margin: 45px 0 15px;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.divider span {
  background: white;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-index: 0;
}

/* Social buttons */
.social-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 28px;
  margin-bottom: 52px;
}

.social-icons button {
  width: 155px;
  height: 74px;
  font-size: 24px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
}

/* reCAPTCHA note */
.privacy-note {
  margin-left: 3px;
  letter-spacing: 0.675px;
  line-height: 1.45;
  text-align: left;
  color: #777;
  font-size: 15px !important;;
}

.privacy-note a{
    font-size: 15px;
}

.privacy-note .black{
    letter-spacing: 0.4px;
    font-size: 15px;
    color: black;
}

.second-section{
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 1400px; width: 100%;
}

.second-section h2{
    position: absolute;
    top: 65px;
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    color: black;
}

.conteiner-sec-main-section{
    display: flex;
    flex-direction:column;
    margin-bottom: -40px;
    width: 83.4%;
    height: 81%;
}

.block-subscription{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 366px; width: 100%;
    border-radius: 32px;
}

.netflix,
.spotify{
    margin-bottom: 18px;
}

.block-subscription .discription{
    height: 100%; width: 49%;
}

.block-subscription .picture{
    height: 100%; width: 49%;
    align-items: center;
    text-align: center;
}

.netflix .picture {
    background-color: black;
    border-radius: 30px;
}

.spotify .picture img{
    top: 0px !important;
    height: 100% !important;
    width: 100% !important;
}

.youtube .picture img{
    top: 90px;
    height: 50%; width: 47%;
}

.youtube .picture{
    background-color: #E1DCEB;
    border-radius: 30px;
}

.picture img{
    position: relative;
    top: 45px;
    height: 75%; width: 80%;
}

.discription h4{
    position: relative;
    margin-top: 65px;
    margin-left: 65px;
    margin-bottom: 28.5px;
    letter-spacing: 2px;
    font-size: 26px;
    font-weight: 600;
    color: black;
}

.discription .discr-and-button{
    position: relative;
    margin-left: 65px;
    height: 200px; width: 453px;
}

.discr-and-button p{
    letter-spacing: 1.05px;
    line-height: 1.59;
}

.discr-and-button .learn-more{
    color: white;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color: #1749B3;
    height: 58px; width: 158px;
    border-radius: 19px;
    margin-top: 42px;
}

.register {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    width: 580px;
    max-width: 90%;
    max-height: 110vh;           /* ограничение по высоте */
    overflow-y: auto;           /* включаем прокрутку */
}

.modal-content-Reg {
  position: relative;
  margin-top: 10px;
  padding: 15px;
  height: auto;
}

/* Typography */
.register h2 {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.9px;
}

.register p {
  margin-top: 20px;
  margin-bottom: 28px;
  font-size: 18px;
}

.register a {
  color: #1a4dd7;
  text-decoration: none;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* место под иконку */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.checkbox-wrapper {
  letter-spacing: 1.5px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
  margin-top: 34px;
  line-height: 1.4;
  max-width: 100%;
}

.checkbox-wrapper input[type="checkbox"] {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-top: 2px;
}

.checkbox-wrapper span {
  display: inline-block;
  flex: 1;
}

.checkbox a{
    font-size: 18px;
}

button[type="registration"] {
  margin-top: 35px;
  background-color: #2a4ddf;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 0.9px;
  font-weight: bold;
  height: 57px !important; width: 492px;
  cursor: pointer;
}

.modal::-webkit-scrollbar {
  width: 0;
}

.mail-reg{
    margin-top: 35px;
    font-weight: 500;
    letter-spacing: 1.9px;
}

.pass-reg{
    margin-top: 35px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.modal-content-Reg .social-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 28px;
  margin-bottom: 5px;
}

/*---------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------
*/

.therard-section{
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 750px; width: 100%;
}

.therard-section h3{
    margin-top: 26px;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 1.3px;
}

.conteiner-theard-main-section{
    height: 100%;
    display: flex;
    flex-direction:column;
    margin-top: 20px;
    width: 1400px;
}

.work-steps-section{
    margin-top: 24px;
    height: 325px; width: 100%;
    display: flex;
    justify-content: space-between;
}

.invite-friends-section{
    position: relative;
    border-radius: 35px;
    margin-top: 21px;
    background-color: #1749B3;
    height: 33%; width: 100%;
}

.card-of-step{
    display: flex;
    height: 100%; width: 418px;
    border-radius: 35px;
    background-color: white;
    justify-content: space-between;
}

.picture-of-steps{
    height: 200px; width: 200px;
    margin-top: -16px;
    margin-right: -18px;
    display: flex;
    align-items: flex-end;
}

.second-card .picture-of-steps{
    margin-top: -37px;
    margin-right: -15px;
}

.third-card .picture-of-steps{
    margin-top: 0px;
    margin-right: 0px;
}

.first-card .discription-of-steps{
    height: 100%; width: 55%;
}

.invite-friends-section h6{
    color: white;
    margin-top: 48px;
    margin-left: 88px;
    font-size: 26px;
    letter-spacing: 2.4px;
}

.invite-friends-section .main-text-inv{
    color: white;
    margin-top: 31px;
    margin-left: 87px;
    font-size: 16px;
    letter-spacing: 1.15px;
    line-height: 1.6;
}

.discription-of-steps h6{
    margin-top: 163px;
    margin-left: 43px;
    letter-spacing: 1.2px;
    font-size: 23px;
    font-weight: bold;
}

.discription-of-steps p{
    position: absolute;
    margin-top: 32px;
    margin-left: 43.5px;
    letter-spacing: 0.5px;
    line-height: 1.4;
    font-size: 20px;
}

.friend-link-block{
    position: absolute;
    border-radius: 22px;
    height: 134px; width: 480px;
    top: 41px;
    right: 85px;
    background-color: #F1F4F8;
    align-items: center;
    text-align: center;
}

.friend-link-block p{
    color: black;
    margin-top: 32px;
    font-size: 22px;
    letter-spacing: 1px;
}

.friend-link-block button{
    margin-top: 16px;
    color: #1749B3;
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 1.7px;
    text-decoration: underline #1749B3;
}

.copyFriendLink{
    margin-left: 10px;
}

.fourth-section{
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 800px; width: 100%;
}

.container-forst-main-section h4{
    margin-top: 55px;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 1.3px;
    margin-bottom: 30px;
}

.four-section{
    margin-top: 30px;
}

.fourth-section .container-two-blocks{
    height: 580px;
}

.four-section .main-big-blok1{
    background-color: white;
}

.four-section .first-block-texts{
    margin-top: 90px;
    width: 510px;
}

.four-section .main-big-blok1 img{
    position: relative;
    margin-top: 65px;
    margin-left: -370px;
    height: 135px; width: 135px;
}

.four-section .main-big-blok1 p{
    color: black;
    font-size: 19px;
    top: 6px;
    margin-left: 23px;
    letter-spacing: 0.85px;
    position: relative;
    margin-bottom: 37px;
}

.forgotPassword{
    height: 450px;
}

.modal-content-fgPass{
    height: 100%; width: 100%;
    margin-left: 15px;
}

.modal-content-fgPass h2{
    font-size: 27px;
    letter-spacing: 1.7px;
    font-weight: 600;
    margin-top: 35px;
} 

.modal-content-fgPass p{
    letter-spacing: 0.1px;
    margin-bottom: 32px;
}

.forgotThePassword{
  margin-right: 3px;
  margin-top: 42px;
  background-color: #2a4ddf;
  color: white;
  height: 58px; width: 493px;
  border: none;
  border-radius: 12px;
  padding: 12px 30px;
  font-size: 18px;
  letter-spacing: 0.9px;
  font-weight: bold;
  cursor: pointer;
}

.forgotPassword .close-btn{
    position: absolute;
    top: 45px; right: 50px;
}

.step {
  display: none;
}

.step.active {
  display: block;
}
